@import url('https://fonts.googleapis.com/css?family=Lato');
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
html{
	height: 100%;
	box-sizing: border-box;
}
body{
	background-color: white;
	position: relative;
	min-height: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
	overflow-x: hidden;
}
button:hover{
	cursor: pointer;
}
input{
	padding: 7px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #d2d2d2;
	width: 100%;
	font-size: 18px !important;
	margin-bottom: 15px !important;
	-ms-transition:border,0.4s;
	-moz-transition:border,0.4s;
	-webkit-transition:border,0.4s;
	transition:border,0.4s;
}
input:focus{
	border: 1px solid #262626;
}
.my-btn{
	padding: 7px;
	font-size: 20px;
	border: none;
	outline: none;
	-ms-transition:color,0.4s;
	-moz-transition:color,0.4s;
	-webkit-transition:color,0.4s;
	transition:color,0.4s;
}
.section{
	padding: 50px 50px;
}
/*colors*/
.red-text{
	color: red;
}
.black-text{
	color: #262626;
}
.black-bg{
	background-color: #262626;
}
.red-bg{
	background-color: red;
}
/*end colors*/
.center-div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: -webkit-translate(-50%,-50%);
	transform: -moz-translate(-50%,-50%);
	transform: -ms-translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

@media screen and (max-width: 768px){
	input{
		padding: 5px;
	}
}
