.extended-section{
	padding: 250px 50px;
}
#joining-div{
	height: 100%;
	position: relative;
	background-image: url("/images/header-image.jpg");
}
#link{
	color: green;
	font-size: 20px;
}
#link:hover{
	color: green;
	text-decoration: underline;
}