#video-wrapper{
	text-align: center;
	position: relative;
	widows: 100%;
	height: 500px;
	border: 1px solid black;
}
#video{
	width:100%;
	height: 500px;
}
#controls-wrapper{
	position:absolute;
    bottom:0;
    left:0;
    width:100%;
   	background-color: white;
}
#controls button, #controls label{
	margin: 0;
	color: black;
	padding: 10px 10px;
	border: none;
	outline: none;
	background-color:white;
	-ms-transition:background-color,0.4s;
	-moz-transition:background-color,0.4s;
	-webkit-transition:background-color,0.4s;
	transition:background-color,0.4s;
}
#controls button:hover, #controls label:hover{
	cursor: pointer;
	background-color:#d2d2d2;
}
#controls{
	float: left;
}
#notification-list-wrapper, #users-list-wrapper{
	/*display: none;
	height: 350px;
	overflow-y: auto;
	overflow-x: hidden;*/
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 150px;
	padding-bottom: 150px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
/*.section-header{
	padding: 10px 10px;
	background-color: red;
	color: white;
	text-align: center;
	-ms-transition:background-color,0.4s;
	-moz-transition:background-color,0.4s;
	-webkit-transition:background-color,0.4s;
	transition:background-color,0.4s;
}*/
#room-share{
	z-index: 1;
	padding: 10px 10px;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
}
.remove-margin-bottom{
	margin-bottom: 0px;
}
.add-margin-bottom{
	margin-bottom: 15px;
}
/*.section-header:hover{
	cursor: pointer;
	background-color: rgb(150,0,0);
}*/
/*notification center*/
.notification-card-wrapper{
	position: relative;
}
.card{
/*	position: absolute;
	top: 0;
	left: 0;*/
	text-align: center;
	width: 100%;
	color: #262626;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 20px;
	margin-bottom: 15px;
}
.clear-notification{
	position: absolute;top: 0;right: 0;
}
.cursor-pointer{
	cursor: pointer;
}
.ws-div-control:hover{
	text-decoration: underline;
}
.float-right{
	float: right;
}
#icons{
	font-size: 22px;
}
#icons i:hover{
	cursor: pointer;
}
/*change vide input style*/
#change-video-div{
	position: relative;
	margin-bottom: 40px;
}
#embed-url{
	position: absolute;
	top: 0;
	left: 0;
}
#change-btn{
	position: absolute;
	top: 0;
	right: 0;
}
